// Fonts
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

// Color
$orange: #e4322e;
$white: #fff;
$dark-gray-1:#000;
$dark-gray-2: #404040;
$light-grey-1: #C2C2C2;
$light-grey-2: #777;

// Color
$orange-text: #e4322e;
$white-text: #fff;
$body-text: #404040;
$link-color: #e4322e;
$light-grey: #C2C2C2;
$link-hover-primary: #e4322e;

// BG Color
$white-bg: #fff;
$orange-bg: #e4322e;
$orange-light-bg:#ff423e;
$orange-light-bg-2: #f33c2e;
$light-bg: #F5F5F5;
$light-dark-bg: #F2F2F2;
$grey-bg:#000;
$dark-bg-light: #000000c4;
$contrast-bg-secondary: #777;

// Border Color
$orange-border: #e4322e;
$light-border: #D5D5D5;
$dark-border: #707070;

// Main Banner Caption
$main-banner-caption-line-1-bg: #4C9350;
$main-banner-caption-line-2-bg: #2F7433;
$main-banner-caption-line-3-bg: #1E6022;

// font path
$images-path: "../images" !default;

// icomoon
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;

$icon-switch-on: "\e901";
$icon-lightbulb: "\e902";
$icon-factory: "\e903";
$icon-certificate-icon: "\e904";
$icon-customer-service-icon: "\e905";
$icon-delivery-truck-icon: "\e906";
$icon-support-icon: "\e907";
$icon-tropy-icon: "\e908";
$icon-crane: "\e900";
$icon-hamburger: "\e909";
$icon-down-arrow: "\e90a";