// banner

// our products
.Our-product {
  padding: 50px 0;
  background: linear-gradient(to right, #f90 0%, #e5322e 100%);

  @include breakpoint(desktop-max) {
    padding: 41px 0;
  }

  @include breakpoint(ipad-max) {
    padding: 31px 0;
  }

  .row {
    display: flex;
    align-items: center;
  }

  &__main-title {
    @include font-size(43px);
    text-transform: uppercase;
    margin: 0px;

    @include breakpoint(desktop-max) {
      @include font-size(31px);
    }

    @include breakpoint(mobile-max) {
      margin-bottom: 15px;
    }

    @include breakpoint(custom-small-mobile-max) {
      @include font-size(30px);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__list-item {
    color: $body-text;
    font-weight: bold;
    width: 23%;
    margin-left: 2%;

    i {
      @include font-size(45px);
      margin: auto;
      display: block;
      margin-bottom: 20px;
    }

    &:first-child {
      margin-left: 0px;
    }

    &:hover,
    &:focus {
      transition: 0.3s;
      box-shadow: 0px 10px 8px 0 rgba(0, 0, 0, 0.2);
    }

    @include breakpoint(mobile-max) {
      width: 23%;
    }

    @include breakpoint(portrait-mobile-max) {
      width: 48%;

      &:nth-child(3) {
        margin-left: 0;
      }

      &:nth-child(3),
      &:nth-child(4) {
        margin-top: 2%;
      }
    }

    @include breakpoint(custom-small-mobile-max) {
      font-size: 12px;
      // width: 100%;
      // margin: 0;

      // & + & {
      //   margin: 2% 0 0 0;
      // }
    }
  }
}

// brand-stockest
.brand-stockest {
  margin-top: 160px;
  text-align: center;

  @include breakpoint(desktop-max) {
    margin-top: 116px;
  }

  @include breakpoint(ipad-max) {
    margin-top: 89px;
  }

  @include breakpoint(mobile-max) {
    margin-top: 68px;
  }

  &__main-title {
    @include font-size(30px);
    padding-bottom: 15px;
    margin-bottom: 20px;

    @include breakpoint(desktop-max) {
      @include font-size(21px);
      padding-bottom: 10px;
      margin-bottom: 14px;
    }

    &::after {
      width: 25%;
      transition: width .3s;
    }

    &:hover::after {
      width: 30%;
    }
  }

  &__list-item {
    img {
      width: 100%;
      height: auto;
      padding: 20px 15px;

      @include breakpoint(desktop-max) {
        padding: 14px 10px;
      }

      @include breakpoint(ipad-max) {
        padding: 10px 7px;
      }
    }
  }
}

.slick-center {
  opacity: 1;
  transition: all 300ms ease;
  transform: scale(1.08);
}

.slick-prev,
.slick-next {
  display: none !important;
}

// our-vision and our-message
.our-message,
.our-vision {
  position: relative;
  margin-top: 160px;

  @include breakpoint(desktop-max) {
    margin-top: 116px;
  }

  @include breakpoint(ipad-max) {
    margin-top: 89px;
  }

  @include breakpoint(mobile-max) {
    margin-top: 68px;
  }

  &:after {
    position: absolute;
    content: '';
    width: 52%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(to right, #fff 0%, #e2e0e0 100%);

    @include breakpoint(mobile-max) {
      width: 100%;
    }
  }

  .container {
    display: flex;
    flex-flow: row;
    align-items: center;

    @include breakpoint(mobile-max) {
      flex-flow: column;
      padding: 0px;
    }
  }

  &__text-box,
  &__img-box {
    width: 48%;

    @include breakpoint(mobile-max) {
      width: 100%;
    }

    img {
      @include breakpoint(mobile-max) {
        width:100%;
        max-height: 250px;
        object-fit: cover;
      }
    }
  }

  &__text-box {
    padding: 0 30px;

    @include breakpoint(desktop-max) {
      padding: 0 21px;
    }

    @include breakpoint(ipad-max) {
      padding: 0 15px;
    }

    @include breakpoint(mobile-max) {
      margin:40px 0 0 0;
    }

    p {
      text-transform: lowercase;
      text-align: justify;
      @include breakpoint(desktop-max) {
        @include font-size(13px);
      }
      @include breakpoint(ipad-max) {
        @include font-size(12px);
      }
      @include breakpoint(mobile-max) {
        @include font-size(14px);
      }
    }
  }

  &__main-title {
    @include font-size(30px);
    padding-bottom: 10px;
    margin-bottom: 20px;

    @include breakpoint(desktop-max) {
      @include font-size(21px);
      padding-bottom: 7px;
      margin-bottom: 14px;
    }

    &::after {
      width: 20%;
      margin-left: 0px;
      transition: width .3s;
    }

    &:hover::after {
      width: 55%;

      @include breakpoint(desktop-max) {
        width: 39%;
      }
    }
  }

  &__img-box {
    img {
      box-shadow: -10px 10px 2px 0px rgba(0, 0, 0, 0.2);
    }

    @include breakpoint(mobile-max) {
      background-color: $white-text;
      padding: 0 25px;
    }
  }
}

.our-vision {
  .container {
    flex-flow: row-reverse;

    @include breakpoint(mobile-max) {
      flex-flow: column;
    }
  }

  &:after {
    left: 0;
  }

  &__text-box {
    h2 {
      &:hover::after {
        width: 30%;
      }
    }
  }
}

.our-message {
  &:after {
    background: linear-gradient(to left, #fff 0%, #e2e0e0 100%);
  }
}

// why-choose-us
.no-webp .why-choose-us {
  background-image: url('https://ik.imagekit.io/ybfnkhj4f3c/why-choose-us/Why-choose-us-bg_7veaBHcg0.jpg');
}

.webp .why-choose-us {
  background-image: url('https://ik.imagekit.io/ybfnkhj4f3c/why-choose-us/Why-choose-us-bg_T-4OQm7cT.webp');
}

.why-choose-us {
  position: relative;
  margin-top: 160px;
  padding: 100px 0;
  color: $white-text;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;

  @include breakpoint(desktop-max) {
    margin-top: 116px;
    padding: 72px 0;
  }

  @include breakpoint(ipad-max) {
    margin-top: 89px;
    padding: 55px 0;
  }

  @include breakpoint(portrait-mobile-max) {
    margin-top: 68px;
    padding: 80px 0px;
  }

  &__block-title {
    padding-bottom: 15px;
    margin-bottom: 60px;

    @include breakpoint(desktop-max) {
      padding-bottom: 10px;
      margin-bottom: 43px;
    }

    @include breakpoint(ipad-max) {
      padding-bottom: 7px;
      margin-bottom: 33px;
    }

    @include breakpoint(portrait-mobile-max) {
      margin-bottom: 40px;
    }

    &::after {
      width: 15%;
      transition: 0.3s;
      margin-left: 0;
    }

    &:hover::after {
      width: 20%;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    @include breakpoint(desktop-max) {
      margin-top: 29px;
    }

    @include breakpoint(ipad-max) {
      margin-top: 22px;
    }

    @include breakpoint(mobile-max) {
      margin-top: 0%;
    }
  }

  &__list-item {
    width: 32%;
    display: flex;
    flex-flow: row;
    color: $white-text;
    border: 5px solid transparent;
    outline: 0.5px solid $light-border;
    transition: all 0.2s ease-in-out;
    padding: 15px;
    margin-right: 1%;

    & + & {
      margin-top: 2%;
    }

    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 0;
    }

    @include breakpoint(desktop-max) {
      padding: 10px;
    }

    @include breakpoint(ipad-max) {
      padding: 7px;
    }

    @include breakpoint(mobile-max) {
      width: 49%;
      margin-right: 0%;

      & + & {
        margin-top: 2%;
      }
  
      &:nth-child(2) {
        margin-top: 0;
      }
  
      &:nth-child(even) {
        margin-left: 2%;
      }
    }

    @include breakpoint(portrait-mobile-max) {
      width: 100%;
      &:nth-child(even) {
        margin-left: 0;
      }
      &:nth-child(2) {
        margin-top: 2%;
      }
    }

    &:hover {
      border: 5px solid $light-border;
      outline: 0.5px solid transparent;
      transition: all 0.2s ease-in-out;
    }

    i {
      display: flex;
      align-self: center;
      @include font-size(50px);
      margin: 0 8px;

      @include breakpoint(desktop-max) {
        @include font-size(36px);
        margin: 0 6px;
      }

      @include breakpoint(ipad-max) {
        @include font-size(27px);
        margin: 0 4px;
      }
    }

    p {
      @include font-size(24px);
      padding-bottom: 0px;
      margin-bottom: 0px;

      @include breakpoint(desktop-max) {
        @include font-size(19px);
      }

      @include breakpoint(ipad-max) {
        @include font-size(14px);
      }
    }

    &:last-child {
      margin-right: 0%;
    }
  }
}